@font-face {
  font-family: inter;
  src: url(../fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.front {
  width: 390px;
  height: 844px;
  background-color: #ffffff;
  border-radius: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  height: 379px;
  background-image: url(../img/profile_pic.jpg);
  transform: scaleX(-1);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  clip-path: ellipse(90% 60% at 50% 40%);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.bio {
  width: 140px;
}

.bio p {
  line-height: 22px;
}

#jobTitle {
  text-transform: uppercase;
  color: #878787;
}

#companyName {
  color: #878787;
}

#oneLine {
  font-style: italic;
  line-height: 17px;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 15px 0px;
}

.contact-btn {
  background-color: white;
  border: solid 1px #e0e0e0;
  margin: 10px auto 10px;
  height: 90px;
  width: 90px;
  border-radius: 70%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer-btn {
  justify-content: space-between;
  width: 60px;
  height: 60px;
  border-radius: 70%;
  background: #fbfbfb;
  box-shadow: 3px 4px 5px rgba(135, 135, 135, 0.15);
  border: solid 0px;
}

.business-logo {
  background: url('../img/Ellipse\ 1.svg');
  height: 100px;
  width: 100px;
}

#mail-btn {
  background: url('../img/MAIL.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#calendar-btn {
  background: url('../img/Calendar.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#phone-btn {
  background: url('../img/Phone.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#linkedin-btn {
  background: url('../img/Linkedin.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#site-btn {
  background: url('../img/Cursor.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#chat-btn {
  background: url('../img/Dialog.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#share-btn {
  margin-left: 100px;
  background: url('../img/Share.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#add-acc-btn {
  margin-right: 100px;
  background: url('../img/Add\ Account-1.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#edit-btn {
  transform: scaleX(-1);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 70%;
  border: solid 0px;
  left: 20px;
  top: 15px;
  background: url('../img/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: soft-light;

  box-shadow: 3px 4px 5px #000000;
}

#edit-btn:hover {
  mix-blend-mode: lighten;
  cursor: pointer;
}

#edit-btn:active {
  transform: scaleX(-1) translateY(3px);
}

.back {
  width: 390px;
  height: 844px;
  background-color: #ffffff;
  border-radius: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
  color: #878787;
}

#profile-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 70%;
  border: solid 0px;
  left: 320px;
  top: -32px;
  background: url('../img/Add\ Account.svg');
  background-color: #edebeb;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile-btn:hover {
  background-color: #e4e0e0;
  cursor: pointer;
}

#profile-btn:active {
  transform: scaleX(-1) translateY(3px);
}

.upload-img-btn {
  width: 100px;
  height: 100px;
  background-color: #edebeb;
  border: solid 0px;
  border-radius: 70%;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upload-img {
  display: flex;
  justify-content: space-between;
  margin: 15px 23px 45px;
}

#profile-form {
  display: flex;
  flex-direction: column;
  margin: 0px 23px 0px;
}

#profile-form label {
  text-transform: uppercase;
  line-height: 20px;
}

#profile-form input {
  width: 346px;
  height: 40px;
  background: #edebeb;
  border-radius: 10px;
  border: solid 0px;
}

#save-btn {
  width: 200px;
  height: 60px;
  background-color: #edebeb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: solid 0px;
  border-radius: 10px;
  margin: 5px auto 0px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #878787;
}

#save-btn:hover {
  background-color: #e4e0e0;
  cursor: pointer;
}

#save-btn:active {
  transform: translateY(3px);
}

.add-info {
  display: flex;
}

.add-info-btn {
  width: 100px;
  height: 100px;
  background-color: #f3f2f2;
  border-radius: 70%;
  border: solid 0px;
  margin: 7px 0px 7px;
}

#first-add-info-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../img/Cross.svg);
  background-repeat: no-repeat;
  background-position: center 20px;
  text-transform: uppercase;
  line-height: 140px;
}
